.form_main{
    max-width: 100%;
    height: 100vh;
    background-image: url("../../assets/login2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back{
    position: absolute;
    top: 30px;
    left: 100px;  
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    color: #1572ec;
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1572ec;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #0662DE;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
  .form .message a {
    color: #0662DE;
    text-decoration: underline;
  }
  .login-form span{
    position: absolute;
    right: 60px;
    top: 41%;
    color: #868585;
  }
  .login-form .icon{
    position: absolute;
    top: 51%;
}

@media (max-width:768px){
  .form {
    margin-top: 50px;
  }
  .form_main {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back {
    top: 100px;
  }
}

@media (max-width:400px){
  .back {
    top: 100px;
    left: 50px;
  }
}